@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body {

  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #1F5673;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: absolute;
  color: #1F363D;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1{
  color: #1F363D;
}
h2 {
  color: #1F363D;
}

.booking-table-form input {
  margin: 10px;
  width: 150px;
}

.edit-form td{
  margin: 5px;
  width: 150px;
}

.page-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;

}

#appheader{
  display: inline;
  color: #90C3C8;
  margin: 10px;
  border-radius: 5px;
}


.booking-form-inc-button{
  margin: 10px;
  padding: 10px;
  background-color: #C6D8D3;
  box-shadow: 5px 5px 5px black ;

}

.customer-list{
  margin: 10px;
  padding: 10px;
  background-color: #B3CADA;
  box-shadow: 5px 5px 5px black ;
  height: 83.5vh;
  overflow-y: scroll;
}

.table-box{
  margin: 10px;
  padding: 10px;
  background-color: #C6D8D3;
  box-shadow: 5px 5px 5px black ;
  overflow-y: scroll;
  height: 45vh;
}

.booking-box{
  margin: 10px;
  padding: 10px;
  background-color: #B3CADA;
  box-shadow: 5px 5px 5px black ;
  overflow-y: scroll;
  height: 83.5vh;
}

.booking-list{
  margin: 10px;
  padding: 10px;
}

.booking-detail{
  margin: 10px;
  padding: 10px;
  list-style-type:none;
}

/* unordered list without bullets */
li {list-style-type: none;}

#applogo{
width: 60px;
height: 60px;
}

#clear-button{
  
}